/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    height: 100%;
}

body {
    background-color: white;
    width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* header and main style  */

    .header-main {
        display: block;
        width: 100%;
        height: auto;
        min-height: 750px;
        box-sizing: border-box;
    }

    .background-top {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        height: 120%;
        background-image: url("https://raw.githubusercontent.com/dianarifin/youneed/main/img/background-header-2.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        box-sizing: border-box;
    }

    

    .header-top {
        width: 100%;
        height: 90px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        /* background-color: red; */
    }


    .header-admin {
        width: 100%;
        height: 90px;
        background-color: #1322b3;
    }

    .header-top-user {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        width: 100%;
        height: 90px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        background-color: #1322b3;
      
    }

    .header-top-main {
        width: 100%;
        height: auto;
        margin-left: 40px;
        margin-right: 40px;
    }

    .header-top .logo img, .header-top-user .logo img {
        width: 200px;
    }

    .container-big {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    }

    .main-container {
        width: 100%;
        height: auto;
        margin-left: 40px;
        margin-right: 40px;
        box-sizing: border-box;
    }

    .header-top .logo, .header-top-user .logo {
        float: left;
    }

    .header-top .menu-left, .header-top-user .menu-left {
        width: auto;
        height: auto;
        padding-top: 5px;
        align-items: center;
        float: right;
        box-sizing: border-box;
    }

    .menu-dropdown {
        display: none;
    }

    .menu-left nav a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 500;
        padding-left: 37px;
        box-sizing: border-box;
    }

    .menu-left nav a img {
        position: absolute;
        margin-top: -13px;
        margin-left: -3px;
        color: white;
        width: 17px;
    }

    .menu-left nav a:hover {
        color: black !important;
    }




/* header and main style  */


/* body style  */

    .main-body {
        display: flex;
        margin-top: 75px;
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        box-sizing: border-box;
    }

    .main-body-container {
        margin-left: 40px;
        margin-right: 40px;
        box-sizing: border-box;
    }

    .big-title, .big-title-user {
        display: block;
        width: 70%;
        height: auto;
        box-sizing: border-box;
    }

    .big-title h2 {
        font-size: 45px;
        font-weight: bold;
        color: white;
        line-height: 1.2;
        font-family: 'Roboto', sans-serif;
    }

    .main-info {
        margin-top: 40px;
        width: 40%;
        color: #D3D3D3;
        font-size: 16px;
        font-weight: regular;
        line-height: 1.6;
        font-family: 'Roboto', sans-serif;
    }

    /* user  */

    .main-user {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 40px;
        padding-left: 40px;
    }

    .main-body-one {
        width: 60%;
        float: left
    }

    .main-body-two {
        margin-top: 10px;
        width: 40%;
        float: right;
    }


    .big-title-user h2 {
        font-size: 45px;
        font-weight: bold;
        color: #1A1A1A;
        line-height: 1.2;
        font-family: 'Roboto', sans-serif;
    }

    .main-info-user {
        margin-top: 40px;
        width: 70%;
        color: #1A1A1A;
        font-size: 16px;
        font-weight: regular;
        line-height: 1.6;
        font-family: 'Roboto', sans-serif;
    }

    .main-body-two form {
        width: 80%;
        margin-left: 20%;
    }

    .main-body-two input {
        width: 100%;
        height: 50px;
        border-radius: 7px;
        border: 1.5px solid #afafaf;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 500;
        color: #5f5f5f;
        padding: 10px 10px 10px 20px;
        box-sizing: border-box;
    }

    .main-body-two input:focus {
        border: unset !important;
        border-radius: 7px !important;
    }

    .main-body-two input.submit {
        background-color: #162BE9;
        border: unset !important;
        padding-left: 10px !important;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }

    .main-body-two input.submit:hover {
        cursor: pointer;
    }



 






    /* user  */

    .main-body a.register-button {
        margin-top: 60px;
        display: block;
        width: 170px;
        height: 45px;
        text-decoration: none;
        font-size: 13px;
        font-weight: regular;
        color: white;
        padding: 16px 10px 10px 14px;
        background-color: #162BE9;
        box-shadow: 3px 3px 2px rgb(33, 33, 33, 0.2);
        border-radius: 5px;
        box-sizing: border-box;
    }

    .main-body a.register-button:hover {
        background-color: #0b178a;
    }

    .main-explained {
        margin-top: 70px;
        width: 100%;
        max-width: 1200px !important;
        height: 100%;
        display: block;
        box-sizing: border-box;
       
    }

    .product-container {
        margin-left: 40px;
        margin-right: 40px;
    }


    .title-h2 {
        width: 100%;
        height: 100%;
        margin-bottom: 65px;
    }

    .second-h2 {
        margin-top: 50px;
    }

    .second-h2 h2 {
        font-size: 38px !important;
    }

    .title-h2 h2 {
        font-size: 40px;
        font-weight: bold;
        line-height: 1.3;
        color: #202020;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .explained-product {
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        background-color: white;
        box-sizing: border-box;
    }

    .explained-product .box-product {
        float: left;
        width: 33.3%;
        height: auto;
    }

    .box-product img {
        width: auto;
        height: 70px;
        margin-bottom: 20px;
        margin-left: 20px;
        box-sizing: border-box;
    }
    
    .box-product .title-explained {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
        color: #191919;
        margin-bottom: 10px;
    }

    .box-product .desc-explained {
        padding-right: 50px;
        font-size: 17px;
        line-height: 1.4;
        font-family: 'Roboto', sans-serif;
        color: #7c7c7c;
        box-sizing: border-box;

    }

    .data-product {

        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 1 33.3%;
        z-index: 10;
        width: 100%;
        max-width: 1200px;
        height: auto;
        box-sizing: border-box;
    }

    .container-product {
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-right: 40px;
    }

    .data-product .main-product {
        display: flex;
        width: 33.3%;
        height: auto;
        float: left;
        border: none;
        padding-right: 20px;
        margin-bottom: 30px;
        box-sizing: border-box;
    }

    .main-product .detail-product {
        display: block;
        width: 100%;
        height: auto;
        border: 1px solid black;
        border-radius: 8px;
        box-sizing: border-box;
    }

    .detail-product .name-product {
        width: auto;
        height: auto;
        padding: 13px 12px 13px 12px;
        margin-right: -1px;
        margin-left: -1px;
        background-color: black;
        color: white;
        font-size: 21px;
        font-weight: bold;
        line-height: 1.4;
        box-sizing: border-box;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    .detail-product .join, .detail-product .url {
        display: inline-block;
        width: auto;
        height: auto;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .detail-product .join, .detail-product .url{
        margin-left: 10px;
    }


    .detail-product .join a, .detail-product .url a {
        
        text-decoration: none;
        color: white;
        background-color: #162BE9;
        padding: 10px 13px 10px 10px;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 17px;
        font-weight: bold;
    }


    .detail-product a:hover, .detail-product a:hover {
        background-color: black;
        color: white;
        cursor: pointer;
    }








/* body style  */


/* footer main  */

    .footer {
        display: inline-block;
        margin-top: 150px;
        padding-bottom: 50px;
        width: 100%;
        height: auto;
        background-color: #161616;
        box-sizing: border-box;
    }

    .footer .footer-border {
        width: 100%;
        height: auto;
        padding-bottom: 60px;
        border-bottom: white solid 1px;
        box-sizing: border-box;
    }

    .footer .main-footer {
        width: 100%;
        max-width: 1200px;
    }

    .footer .footer-top {
        display: inline-block;
        width: 100%;
        height: auto;
        margin-top: 30px !important;
        box-sizing: border-box;
    }

    .footer-top .footer-top-one {
        float: left;
        width: 50%;
        height: auto;
    }

    .footer-top .footer-top-two {
        float: left;
        width: 50%;
        padding-left: 90px;
        height: auto;
        box-sizing: border-box;
    }

    .footer-top-one h3 {
        color: white;
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
    }

    .footer-top-one h3.first {
        margin-bottom: 10px;
    }

    .footer-top-one h3.second {
        color: #162BE9;
        font-size: 22px;
    }

    .footer-top-two h3, .footer-top-two p {
        color: white;
    }

    .footer-top-two h3 {
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        margin-bottom: 3px;
    }

    .footer-top-two p {
        font-size: 14px;
        font-weight: Medium;
        color: #BDBDBD;
        line-height: 1.4;
        margin-bottom: 15px;
    }

    .footer-top-two .email-subs .input-email {
        width: 50%;
        height: 35px;
        border-radius: 4px;
        border: none !important;
        padding: 1px 10px 0px 10px;
        font-size: 14px;
        font-weight: medium;
        color: #BDBDBD;
        box-sizing: border-box;
    }

    .footer-top-two .email-subs .submit-email {
        width: 100px;
        height: 35px;
        border-radius: 4px;
        border: none !important;
        margin-left: 10px;
        padding: 1px 10px 0px 10px;
        font-size: 16px;
        font-weight: Bold;
        color: white;
        background-color: #162BE9;
        box-sizing: border-box;
    }

    .footer-top-two .email-subs .input-email:focus {
        border: unset !important;
    }

    .footer-top-two .email-subs .submit-email:hover {
        cursor: pointer;
    }

    .footer-bottom {
        display: inline-block;
        margin-top: 40px;
        margin-bottom: 100px;
        width: 100%;
        height: auto;
    }

    .footer-bottom-one, .footer-bottom-two, .footer-bottom-three, .footer-bottom-four {
        width: 25%;
        height: auto;
        float: left;
    }

    .footer-bottom-one img {
        width: 90px;
        height: auto;
    }

    .footer-bottom-two nav a,  .footer-bottom-three nav a{
        display: block;
        margin-bottom: 18px;
        line-height: 1.4;
        text-decoration: none;
        color: white;
        font-weight: regular;
        font-size: 15px;
        box-sizing: border-box;
    }

    .footer-bottom-four h4 {
        font-size: 22px;
        margin-bottom: 15px;
        font-weight: bold;
        color: white;
        box-sizing: border-box;
    }

    .footer-bottom-four p {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        color: #727272;
    }

    .footer-credit {
        display: inline-block;
        width: 100%;
        height: auto;
    }

    .footer-credit .footer-credit-site {
        width: 50%;
        height: auto;
        float: left;
        font-size: 11px;
        color: #BDBDBD;
        box-sizing: border-box;
    }

    
    .footer-credit .footer-credit-made {
        width: auto;
        height: auto;
        float: right;
        font-size: 11px;
        color: #BDBDBD;
        box-sizing: border-box;
    }

    .footer-credit .footer-credit-made img {
        position: relative;
        margin-right: 5px;
        display: inline-flex;
        width: 12px;
        box-sizing: border-box;
    }







/* footer main  */

@media screen and (min-width: 1460px) {

    .background-top {
        height: 130%;
    }
}

@media screen and (min-width: 1450px) {
    /* hi-res laptops and desktops, big landscape tablets, laptops, and desktops*/ 

    .header-main {
        min-height: 1000px;
    }

    .background-top {
        height: 140%;
        background-image: url("https://raw.githubusercontent.com/dianarifin/youneed/main/img/background-header-1.png");
    }


    .main-body {
        margin-top: 150px;
    }

    .main-info {
        font-size: 18px;
    }


}

@media screen and (min-width: 1300px) {

    .background-top {
        background-position-y: -200px !important;
        height: 120% !important;
    }

}

@media screen and (min-width: 1285px) {

    .header-main {
        min-height: 900px !important;
    }

    .background-top {
        height: 120% !important;
        background-position-y: -150px !important;
    }
}

@media screen and (min-width: 1280px) {
    /* hi-res laptops and desktops, big landscape tablets, laptops, and desktops*/ 

    .header-main {
        min-height: 800px;
    }

    .background-top {
        width: 100%;
        height: 150%;
        background-image: url("https://raw.githubusercontent.com/dianarifin/youneed/main/img/background-header-1.png");
        background-position-y: -70px;
    }


    .main-body {
        margin-top: 100px;
    }

    .main-info {
        font-size: 18px;
    }


}

@media screen and (max-width: 1025px) {

    .background-top {
        background-position-y: -20px;
        background-image: url("https://raw.githubusercontent.com/dianarifin/youneed/main/img/background-header-1.png");
        height: 120%;
    }

}
@media screen and (max-width: 960px) {

    .header-main {
        min-height: 800px;
    }

    .background-top {
        background-position-y: -30px;
        width: 100%;
        height: 120%;
        background-image: url("https://raw.githubusercontent.com/dianarifin/youneed/main/img/background-header-1.png");
   
    }

    .box-product .title-explained {
        font-size: 23px;
        padding-right: 5px;
    }

    .box-product .desc-explained {
        font-size: 17px;
        padding-right: 20px;
    }

    .footer-top-one h3 {
        font-size: 23px;
    }

    .footer-top-two h3 {
        font-size: 23px;
    }

    .footer-top-two p {
        font-size: 13px;
    }



}

@media screen and (max-width: 800px) {

    .background-top {
        height: 70%;
    }

}


@media screen and (max-width: 768px) {

    .background-top {
        height: 90%;
    }

    .box-product img {
        width: auto;
        height: 60px;
    }

    .box-product .title-explained {
        font-size: 20px;
        padding-right: 5px;
    }

    .box-product .desc-explained {
        font-size: 15px;
        padding-right: 15px;
    }

    .footer-border {
        display: none !important;
    }

    .footer-top {
        display: none !important;
    }

    .footer-bottom-two nav a, .footer-bottom-three nav a {
        font-size: 14px;
    }

    .footer-bottom-four h4 {
        font-size: 17px;
    }
    
    .footer-bottom-four p {
        font-size: 13px;
    }

    .detail-product .name-product {
        font-size: 17px;
    }

    .detail-product .join a, .detail-product .url a {
        font-size: 14px;
    }

    .main-body-two form {
        width: 100%;
        margin-left: unset !important;
    }



}

@media screen and (max-width: 600px) {

    .header-main {
        min-height: 700px;
    }

    .background-top {
        width: 120%;
        height: 140%;
        background-image: url("https://raw.githubusercontent.com/dianarifin/youneed/main/img/background-header-3.png");
    }

    .header-top {
        height: 70px;
    }

    .header-top .menu-left, .header-top-user .menu-left {
        display: none;
    }

    .menu-dropdown {
        display: block !important;
        float: right;
        align-content: center;
        align-items: center;
        padding-top: 8px;
        position: relative;
        width: auto;
        height: auto;
    }

    .menu-dropdown span img {
        width: 22px;
    }

    .dropdown {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        margin-left: -136px;
        margin-top: 20px;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        box-sizing: border-box;
    }

    .dropdown nav a {
        display: block;
        text-decoration: none;
        padding: 16px 10px 16px 13px;
        color: #1A1A1A;
        font-weight: 500;
        font-size: 15px;
    }

    .dropdown nav a:hover {
        background-color: black;
        color: white;
    }

    .menu-dropdown:hover .dropdown {
        display: block;
    }

    /* .menu-dropdown:hover .dropdown {
        display: block;
    } */

    



    .main-body {
        display: block;
        margin-top: 20px;
    }

    .main-body .main-body-one {
        margin-top: 20px;
        width: 100% !important;
        float: left;
    }

    .main-body .main-body-two {
        margin-top: 40px;
        width: 100% !important;
        float: left;
    }

    .big-title, .big-title-user {
        width: 100%;
    }

    .big-title h2, .big-title-user h2 {
        padding-right: 30px;
        font-size: 40px;
    }

    .main-info, .main-info-user {
        width: 100%;
        padding-right: 30px;
        box-sizing: border-box;
    }

    .main-body a.register-button {
        margin-top: 35px;
    }

    .title-h2 h2 {
        font-size: 36px;
    }

    .explained-product .box-product {
        float: left;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .box-product .title-explained {
        font-size: 20px;
    }

    .box-product .desc-explained {
        font-size: 17px;
        padding-right: 15px;
    }


    .footer-bottom-one {
        display: none !important;
    }

    .data-product .main-product {
        width: 100% !important;
       padding-right: unset !important;
    }


    .detail-product .name-product {
        font-size: 17px;
    }

    .detail-product .join a, .detail-product .url a {
        font-size: 13px;
    }



}



@media screen and (max-width: 480px) {
    
    .header-main {
        min-height: 800px;
    }

    .background-top {
        width: 120%;
        height: 125%;
    }

    .big-title h2, .big-title-user h2 {
        font-size: 35px;
    }

    .main-info, .main-info-user {
        font-size: 16px;
    }

    .footer-bottom-two, .footer-bottom-three, .footer-bottom-four {
        width: 100%;
        align-items: center;
    }


    .footer-bottom-two nav a, .footer-bottom-three nav a {
        align-items: center;
    }

    .footer-bottom-four {
        margin-top: 10px;
    }

    .footer-credit-site {
        display: none !important;
    }

    .footer-credit-made {
        width: 100%;
        float: left !important;
    }

}


@media screen and (max-width: 450px) {

    .background-top {
        width: 100%;
        height: 100%;
    }


}


@media screen and (max-width: 400px) {

    .background-top {
        width: 100%;
        height: 115%;
    }


}


@media screen and (max-width: 380px) {

    .background-top {
        width: 100%;
        height: 140%;
    }


}


@media screen and (max-width: 360px) {

    .background-top {
        width: 100%;
        height: 125%;
    }


}


@media screen and (max-width: 320px) {

    .background-top {
        width: 100%;
        height: 170%;
    }


}